.Calendar {
  padding: 0 0 147px 0;
}
.Calendar .filler {
  opacity: 0.2;
}
.Calendar-dayofmonth {
  font-weight: bold;
  font-size: 1.375em;
  margin-bottom: 39px;
  display: block;
}
.Calendar-day-of-week {
  font-weight: bold;
  font-size: 1.125em;
  margin-bottom: 39px;
}

.Calendar-day-of-week span:after {
  display: block;
  content: '\A\2014';
  white-space: pre-wrap;
}

.Calendar-header {
  font-size: 1.25em;
  line-height: 1.875em;
  margin: 0 0 100px 0;
}
.Calendar-header--withSpace {
  margin: 100px 0 100px 0;
}

.day-short,
.Calendar-fixture {
  display: none;
}

.Calendar-date {
  position: relative;
}

.Calendar-fixture-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 64em) {
  .Calendar-fixture-link {
    display: none;
  }
  .day-min {
    display: none;
  }

  .day-short {
    display: block;
  }
  .Calendar-date {
    margin-bottom: 80px;
  }
  .Calendar-day-of-week {
    margin-bottom: 69px;
  }

  .Calendar-dayofmonth {
    font-size: 2.5em;
    margin-bottom: 18px;
    display: block;
  }

  .Calendar-header {
    font-size: 2em;
    line-height: 1.75em;
  }

  .Calendar-fixture {
    display: block;
    margin-top: 28px;
    opacity: 0.6;
  }

  .Calendar-fixture.active {
    opacity: 0.8;
    cursor: pointer;
    transition: transform 200ms ease;
  }

  .Calendar-fixture.active:hover {
    opacity: 1;
    transform: scale(1.01);
  }

  .Calendar-fixture-match {
    font-weight: bold;
    font-size: 1.125em;
    display: block;
    line-height: 1.55;
  }
  .Calendar-fixture-time {
    font-weight: normal;
    font-size: 1em;
    display: block;
    line-height: 1.75;
  }
}
