.TeamHeader-wrapper {
  position: relative;
}
.TeamHeader {
  padding: 30px 0;
  z-index: 1;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.TeamHeader-site {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.TeamHeader-intro {
  font-size: 2.5em;
  line-height: 1;
  margin: 70px 0 0 0;
}

.TeamHeader-subintro {
  font-size: 28px;
  font-weight: normal;
  color: #808080;
}

.TeamHeader-group {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  padding-top: 80px;
  margin: 0;
}

.TeamHeader-nav {
  display: none;
}

.TeamHeader-detail {
  font-size: 1.125em;
  line-height: 1.333;
  margin: 0;
}

.TeamHeader-detail dt {
  margin: 32px 0 0 0;
  padding: 0;
  font-weight: bold;
}

.TeamHeader-detail dd {
  margin: 0;
  padding: 0;
}

.TeamHeader-button {
  display: inline-block;
  margin-top: 30px;
}

.TeamHeader-ranking {
  font-size: 1.25em;
  line-height: 1.6em;
}

dd.TeamHeader-website {
  font-weight: bold;
  margin-top: 30px;
}

.TeamHeader-website a {
  color: currentColor;
}
@media (min-width: 64em) {
  .TeamHeader {
    min-height: 576px;
    padding-top: 0;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .TeamHeader-intro {
    font-size: 3.75em;
    line-height: 1;
    margin: 0;
  }
  .TeamHeader-ranking {
    font-size: 1.75em;
    line-height: 1.57em;
  }
  .TeamHeader-subintro {
    font-size: 32px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .TeamHeader-group {
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    padding: 0;
  }

  .TeamHeader-seperator {
    margin-top: 45px;
    margin-bottom: 30px;
  }
  .TeamHeader-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
  .TeamHeader-burger {
    display: none;
  }

  .TeamHeader-detail {
    font-size: 1em;
    line-height: 1.333;
  }

  .TeamHeader-info {
    margin: -32px 0 0 0;
  }
}

@media (min-width: 75.5em) {
  .TeamHeader-detail {
    font-size: 1.125em;
    margin-top: 0;
  }
  .TeamHeader-intro {
    font-size: 3.75em;
    line-height: 1;
    margin: 0;
  }
  .TeamHeader-ranking {
    font-size: 1.75em;
    line-height: 1.57em;
  }
}
