.Match {
  padding-bottom: 70px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.MatchNav {
  font-size: 0.9375em;
  line-height: 1.86;
  margin-top: 27px;
  position: relative;
}

.MatchNav span {
  cursor: pointer;
}

.MatchNav span.active {
  font-weight: bold;
  cursor: default;
}

.MatchNav span.active:after {
  content: '';
}
.MatchTab-line {
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: left;
  transition: transform 300ms ease;
}
.MatchTab-line span {
  display: block;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 1px;
  background-color: #fff;
  transform-origin: left;
  transition: transform 300ms ease;
}
.MatchTab-nav-text {
  display: inline;
}
@media (min-width: 64em) {
  .MatchNav {
    margin-top: 1em;
    font-size: 0.937em;
  }
}
