.Nav-site {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  display: block;
  color: currentColor;
  text-decoration: none;
}

.Navigation {
  display: none;
}
.Nav-burger {
  display: block;
}
.Nav-burger img {
  display: block;
}

.Modal .Navigation {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 2em;
  line-height: 1.65625;
  font-weight: bold;
  list-style: none;
}

.Navigation a {
  color: currentColor;
  text-decoration: none;
}
.Nav-mobileMenu {
  color: currentColor;
}
.Modal .Navigation li {
  animation: 300ms ease-in 0s 1 forwards MenufadeInUp;
  opacity: 0;
}
.Modal .Navigation li:nth-of-type(1) {
  animation-delay: 50ms;
}
.Modal .Navigation li:nth-of-type(2) {
  animation-delay: 100ms;
}
.Modal .Navigation li:nth-of-type(3) {
  animation-delay: 150ms;
}
.Modal .Navigation li:nth-of-type(4) {
  animation-delay: 200ms;
}

@keyframes MenufadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@media (min-width: 64em) {
  .Navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }

  .Navigation a {
    opacity: 0.5;
    transform: opacity 300ms ease;
  }
  .Navigation a:hover,
  .Navigation a.active {
    opacity: 1;
  }
  .Navigation a.active {
    font-weight: bold;
  }

  .Navigation-wrapper {
    position: relative;
  }

  .Navigation-line {
    position: absolute;
    width: 1px;
    height: 1px;
    bottom: 0;
    left: 0;
    display: block;
    transform-origin: left;
    transition: transform 300ms ease;
  }

  .Navigation-line span {
    content: '';
    width: 1px;
    margin-top: 2px;
    height: 1px;
    background-color: currentColor;
    bottom: 0;
    left: 0;
    display: block;
    transform-origin: left;
    transition: transform 300ms ease;
  }

  .Nav-burger {
    display: none;
  }

  .nav-spacing {
    height: 60px;
    width: 100%;
  }
}

@media (max-width: 64em) {
  .Header nav.headroom .Grid,
  .TeamHeader nav.headroom .Grid {
    width: 100%;
  }
}

@media (min-width: 75.5em) {
}

.Header nav,
.TeamHeader nav {
  transform: translateY(-60px);
}

.Header.animate nav,
.TeamHeader.animate nav {
  transform: translateY(0);
}

.Header nav.headroom,
.TeamHeader nav.headroom {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  will-change: transform;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: background-color 200ms ease, color 200ms ease,
    transform 200ms linear;
}

.Header nav.headroom.headroom--pinned {
  transform: translateY(0);
}

.TeamHeader .headroom--not-top.headroom--pinned .Navigation-line span {
  background-color: #000;
}

.Header nav.headroom--top,
.TeamHeader nav.headroom--top {
  background: transparent;
  color: currentColor;
}

.Header nav.headroom--not-top.headroom--pinned,
.TeamHeader nav.headroom--not-top.headroom--pinned {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.Header nav.headroom.headroom--unpinned,
.TeamHeader nav.headroom.headroom--unpinned {
  transform: translateY(-60px);
}
.Header nav.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned,
.TeamHeader
  nav.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned {
  background: #fff;
  color: #000;
}
